<table>
  <tbody>
    <tr>
      <th>Авиакомпания</th>
      <th>Вылет</th>
      <th>В пути</th>
      <th>Прилет</th>
      <th>Детали перелета</th>
      <th>Цена</th>
      <th>Метки</th>
      <th></th>
    </tr>
    <% @results.each do |result| %>
    <tr>
      <td><%= result.companies_list.join(",") %></td>
      <td><%= result.departure_time %></td>
      <td><%= result.flight_duration %></td>
      <td><%= result.arrival_time %></td>
      <td><%= humanized_details(result.flight_details) %></td>
      <td><%= result.price %></td>
      <td><%=  result.tags.join(",") %></td>
      <td>Кноппка</td>
    </tr>
    <% end %>
  </tbody>
